{% if user.is_authenticated %}
  <div class="form-group row my-3">
  <h6>Добавить комментарий...</h6>
  <form method="POST" action="{% url 'posts:create_comment' onepost.id %}">
    <div class="input-group">
    <textarea class="form-control" rows="3" method="POST" action="{% url 'posts:create_comment' onepost.id %}"
     {{ comment_form.text }}>
    </div>
    {% csrf_token %}
    <br>
    <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
  </form>
  </div>
{% else %}
  <span style='color: red'>Войдите чтобы оставить комментарий...</span>
{% endif %}
{% for comment in comments %}
  <div class="comments" style="padding: 10px;">
    <p class="font-weight-bold">
        Комментарий от {{ comment.author }}
      <span class=" text-muted font-weight-normal">
        Дата публикации: {{ comment.pub_date }}
      </span>
    </p>
    {{ comment.text|linebreaksbr }}
  </div>
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}