{% comment %} Форма для коммента {% endcomment %}
{% if user.is_authenticated %}
  <h6>Добавить комментарий...</h6>
  <form method="POST" action="{% url 'posts:create_comment' onepost.id %}">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary  btn-lg">Добавить</button>
  </form>
{% else %}
  <span style='color: red'>Войдите чтобы оставить комментарий...</span>
{% endif %}
 {% comment %} Комментарии к посту {% endcomment %}
{% for comment in comments %}
  <div class="comments" style="padding: 10px;">
    <p class="font-weight-bold">
        Комментарий от {{ comment.author }}
      <span class=" text-muted font-weight-normal">
        Дата публикации: {{ comment.pub_date }}
      </span>
    </p>
    {{ comment.text }}
  </div>
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}